.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.weatherContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;

  .tempContainer {
    font-size: 3rem;
  }

  .weatherMetrics {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 4px;

    p {
      text-align: right;
    }

    hr {
      margin: 10px 0 8px;
      border: 1px solid black;
    }
  }
}

.locationSelector {
  position: relative;
  width: 300px;
  display: inline-block;

  .locationInput {
    width: 100%;
    padding: 10px;
  }

  input {
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: unset;

    &:focus,
    &:active,
    &:hover {
      outline: none;
      border: none;
      border-bottom: 2px solid black;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    z-index: 2;

    li {
      padding: 10px;
      cursor: pointer;
    }
  }
}

.nightOverlay {
  background-color: #12007d;
  opacity: 35%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
